# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
build/
dist/

# Ansible
.cache/
collections/
*.retry
.vault_pass

# Molecule
.molecule/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
